@charset "utf-8";
/* CSS Document */
.tieu-de{font-size: 66px ; color: rgba(49,190,43,1.00); text-align: center; border: 5px dotted rgba(61,105,136,1.00); padding: 50px 20px 60px; margin: 50px
}

